--
-- PostgreSQL database dump
--

\restrict lBdLnuld20IChXrBdxKZsqmyixcWLw5DgssziqP5oxo0yS3nyZSQIHuG4GXVcbV

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "firstName" character varying NOT NULL,
    "secondName" character varying NOT NULL,
    "lastName" character varying NOT NULL,
    "secondLastName" character varying NOT NULL,
    username character varying NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    "twoFactorEnabled" boolean DEFAULT false NOT NULL,
    "twoFactorSecret" character varying,
    "twoFactorBackupCodes" character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, "firstName", "secondName", "lastName", "secondLastName", username, email, password, "twoFactorEnabled", "twoFactorSecret", "twoFactorBackupCodes", "createdAt", "updatedAt") FROM stdin;
f46b407f-17d5-4c59-b6a2-aa43d516d668	Gabriel	Omar	Murillo	Medina	gmurillo	gomurillo@espe.edu.ec	$2b$10$TK1BYvHaJPzFAjaqLX1pSePTyzVCIz4G7qDqlRRJZXpHiCYOL.JIa	f	\N	\N	2026-01-15 17:35:06.316253	2026-01-15 17:35:06.316253
\.


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: users UQ_fe0bb3f6520ee0469504521e710; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_fe0bb3f6520ee0469504521e710" UNIQUE (username);


--
-- PostgreSQL database dump complete
--

\unrestrict lBdLnuld20IChXrBdxKZsqmyixcWLw5DgssziqP5oxo0yS3nyZSQIHuG4GXVcbV

